$pageWidth: 1000px; // ページ全体の幅
$cmnOpacity: 0.75; // 共通のopacity値

// レスポンシブサイズ
/*====================
{{ PCを基本設計にする }}
 - 980px〜：PC
 - 〜979px：タブレット用
 - 〜767px：タブレット／スマートフォン用
====================*/
$breakpointLarge: 979px;
$breakpointMedium: 767px;

// color
// ------------------------------------
$colorWhite: #fff;
$colorMainBorder: #dbdbdb;
$colorHeaderNavBorder: #ccc;
$colorLittleLightGray: #999;
$colorLightGray: #a5a5a5;
$colorLittleDarkGray: #666;
$colorLightPink: #ff8b9e;
$colorLightGreen: #6bcda1;
$colorFacebook: #3b5998;
$colorTwitter: #00acee;
$colorBase: #ee93a0;
