$pageWidth: 1000px; // ページ全体の幅
$cmnOpacity: .75; // 共通のopacity値

// レスポンシブサイズ
/*====================
{{ PCを基本設計にする }}
 - 980px〜：PC
 - 〜979px：タブレット用
 - 〜767px：タブレット／スマートフォン用
====================*/
$breakpointLarge: 979px;
$breakpointMedium: 767px;

// color
// ------------------------------------
$colorWhite: #fff;
$colorMainBorder: #dbdbdb;
$colorHeaderNavBorder: #ccc;
$colorLittleLightGray: #999;
$colorLightGray: #A5A5A5;
$colorLittleDarkGray: #666;
$colorLightPink: #FF8B9E;
$colorLightGreen: #6BCDA1;
$colorFacebook: #3B5998;
$colorTwitter: #00ACEE;
$colorBase: #EE93A0;
