 .column__linkBtn {
   display: block;
   padding: 6px 0;
   background-color: $paletteDowny;
   color: $paletteWhite;
   font-size: .8rem;
   text-align: center;

   &:hover {
     transition: background-color .35s ease;
     background-color: $palettePinkSalmon;
		 color: $paletteWhite;
   }
 }
