.footer {
  position: relative;
  width: $pageWidth;
  height: 305px;
  margin: 0 auto;
  padding: 50px 0 20px;
  text-align: center;

  &__title {
    cursor: pointer;
    width: 286px;

    &:hover {
      opacity: $cmnOpacity;
    }
  }

  &__copyright {
    display: flex;
    padding-bottom: inherit; // 位置調整目的。position:absoluteだと親のpaddingが考慮されないため。
    position: absolute;
    bottom: 0;
    width: 100%;

    .copyright {
      position: absolute;
      right: 60px;
    }

    p {
      color: $gray;
      font-size: .75rem;
    }
  }
}

.pagetop {
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);

  img {
    width: 130px;

    &:hover {
      opacity: $cmnOpacity;
    }
  }
}
