.footer {
  position: relative;
  width: $pageWidth;
  max-width: 100%;
  height: 305px;
  margin: 0 auto;
  padding: 50px 0 20px;
  text-align: center;

  @include breakMaxWidth($breakpointLarge) {
    height: 374px;
  }

  &__title {
    cursor: pointer;
    width: 286px;

    &:hover {
      opacity: $cmnOpacity;
    }
  }

  &__copyright {
    display: flex;
    /* ↓このpadding-bottomは、位置調整目的です。position:absoluteだと親のpaddingが考慮されないため。 */
    padding-bottom: inherit;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $paletteDustyGray;
    font-size: .8rem;

    .copyright {
      position: absolute;

      @include breakMinWidth($breakpointLarge + 1) {
        right: 60px;
      }

      @include breakMaxWidth($breakpointLarge) {
        left: 50%;
        bottom: 23px;
        transform: translateX(-50%);
				width: 90%;
        font-size: .85rem;
      }
    }

    @include breakMaxWidth($breakpointLarge) {
      .pagename {
        display: none;
      }
    }
  }
}

.pagetop {
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);

  @include breakMaxWidth($breakpointLarge) {
    bottom: 75px;
  }

  img {
    width: 130px;

    &:hover {
      opacity: $cmnOpacity;
    }
  }
}
