.header {
  margin-bottom: 50px;
  padding-top: 30px;

  &__logo {
    margin-bottom: 40px;
    text-align: center;

    img {
      width: 270px;

      &:hover {
        opacity: $cmnOpacity;
      }
    }
  }

  &__nav {
    margin-bottom: 65px;
  }
}

.topSliderContainer {
  margin-bottom: -8px;
}
