// main
// ------------------------------------
.main {
  width: $pageWidth;
  max-width: calc(100% - 100px);

  @include breakMaxWidth($breakpointMedium) {
    max-width: calc(100% - 30px);
  }

  margin: 0 auto;
  padding-bottom: 60px;
  border-bottom: 1px solid $paletteAlto;
}

// column
// ------------------------------------
.columnContainer {
  @include flex-space-between;
  margin-bottom: 90px;

  @include breakMaxWidth($breakpointLarge) {
    margin-bottom: 60px;
  }

  @include breakMaxWidth($breakpointMedium) {
    display: block;
		margin-bottom: 45px;
  }

  .column {
    width: calc(100% / 2 - 28px); // width: calc(100% / 2 - 余白分);

    @include breakMaxWidth($breakpointMedium) {
      width: 100%;
			margin-bottom: 50px;
    }
  }
}
