// main
// ------------------------------------
.main {
  width: $pageWidth;
  max-width: calc(100% - 100px);

  @include breakMaxWidth($breakpointMedium) {
    max-width: calc(100% - 70px);
  }

  margin: 0 auto;
  padding-bottom: 60px;
  border-bottom: 1px solid $colorMainBorder;
}

// column
// ------------------------------------
.columnContainer {
  @include flex-space-between;
  margin-bottom: 90px;

  @include breakMaxWidth($breakpointLarge) {
    margin-bottom: 60px;
  }

  @include breakMaxWidth($breakpointMedium) {
    display: block;
    margin-bottom: 45px;
  }

  .column {
    width: calc(100% / 2 - 28px); // width: calc(100% / 2 - 余白分);

    @include breakMaxWidth($breakpointMedium) {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}

.column {
  &--tabletsp {
    display: none;

    @include breakMaxWidth($breakpointLarge) {
      display: block;
    }
  }
}

// topSliderContainer
// ------------------------------------

.topSliderContainer {
  position: relative;

  .slick-prev,
  .slick-next {
    z-index: 2;
    width: 60px;
    height: 34px;
    top: 40%;
    &::before {
      content: "";
    }
  }
  .slick-prev {
    left: 10%;
    @include breakMaxWidth($breakpointLarge) {
      left: 3%;
    }
  }
  .slick-next {
    right: 10%;
    @include breakMaxWidth($breakpointLarge) {
      right: 3%;
    }
  }
  .slick-arrow {
    z-index: 10;
  }
}
