// header
.header__navList {
  display: flex;
  width: $pageWidth;
  max-width: 100%;
  margin: 0 auto;

  @include breakMaxWidth($breakpointLarge) {
    display: none;
  }

  img:hover {
    opacity: $cmnOpacity;
  }

  &--tabletsp {
    display: none;
    margin-bottom: 30px;
    text-align: center;

    @include breakMaxWidth($breakpointLarge) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      li {
        width: calc(100% / 3);
        padding: 23px 0;
        border-top: 1px solid $colorHeaderNavBorder;
        border-left: 1px solid $colorHeaderNavBorder;
        font-size: .85rem;
        color: $colorLittleLightGray;

        &:nth-child(3n) {
          // liの3の倍数のものに下線を適用する。
          border-right: 1px solid $colorHeaderNavBorder;
        }

        &:nth-child(n+4) {
          // liの4つ目から下線を適用する。
          border-bottom: 1px solid $colorHeaderNavBorder;
        }
      }
    }

    @include breakMaxWidth($breakpointMedium) {

      li {
        width: calc(100% / 2);
        padding: 20px 0;

        // 上記、breakpointLargeでの枠線打ち消し。
        &:nth-child(3n) {
          border-right: 0;
        }

        &:nth-child(n+4) {
          border-bottom: 0;
        }

        // breakpointMediumでの枠線、新たに書き出し。
        &:nth-child(2n) {
          // liの2の倍数のものに下線を適用する。
          border-right: 1px solid $colorHeaderNavBorder;
        }

        &:nth-child(n+5) {
          // liの5つ目から下線を適用する。
          border-bottom: 1px solid $colorHeaderNavBorder;
        }
      }
    }
  }
}


// column
// ------------------------------------

ul {
  &.column__list {
    margin-bottom: 13px;

    li {
      padding-bottom: 10px;
      border-bottom: 1px dotted $colorLittleLightGray;

      &:not(:first-child) {
        margin-top: 20px;
      }

      a {
        &:first-child {
          display: block;
          margin-bottom: 5px;
        }

        time {
          color: $colorLightPink;
          font-size: .9rem;
        }

        p {
          color: $colorLittleLightGray;
          font-size: .85rem;
        }
      }
    }

    &--detail {
      li {
        padding-bottom: 26px;

        &:not(:first-child) {
          margin-top: 20px;
        }

        a {

          &:first-child {
            display: block;
            margin-bottom: 0;
          }

          time {
            font-size: .75rem;
            color: $colorLittleDarkGray;
          }

          p {
            font-size: .75rem;
            font-weight: bold;
            color: $colorLittleDarkGray;
          }
        }
      }
    }
  }
}

// gallery
// ------------------------------------
.gallery {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 119px;
  margin-bottom: 50px;
  padding: 0 10px 5px;

  @include breakMaxWidth($breakpointLarge) {
    margin-bottom: 20px;
  }

  li {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  img {
    display: block;
    width: 180px;

    &:hover {
      opacity: $cmnOpacity;
    }
  }
}

// sns
// ------------------------------------
.sns {
  @include flex-space-between;
  width: 100%;
  margin: 0 auto;
  padding: 60px 90px 0;
  text-align: center;

  @include breakMaxWidth($breakpointLarge) {
    padding: 50px 20px 0;
  }

  @include breakMaxWidth($breakpointMedium) {
    padding: 30px 10px 0;
  }

  &__item {
    width: 120px;

    @include breakMaxWidth($breakpointMedium) {
      width: calc(100% / 3 - 3%);
    }

    .logo {
      display: block;
      margin-bottom: 8px;


      img {
        width: 100%;


        &:hover {
          opacity: $cmnOpacity;
        }
      }
    }

    .snsname {
      margin-bottom: 5px;
      font-size: .85rem;

      @include breakMaxWidth($breakpointMedium) {
        display: none;
      }
    }

    .caption {
      color: $colorLittleLightGray;
      font-size: .7rem;

      @include breakMaxWidth($breakpointMedium) {
        display: none;
      }
    }

    &--fb {
      .snsname {
        color: $colorFacebook;
      }
    }

    &--twitter {
      .snsname {
        color: $colorTwitter;
      }
    }

    &--base {
      .snsname {
        color: $colorBase;
      }
    }
  }
}
