.main {
  width: $pageWidth;
  margin: 0 auto;
}

.columnContainer {
  @include flex-space-between;
  margin-bottom: 90px;

  .column {
    width: calc(100% / 2 - 28px); // width: calc(100% / 2 - 余白分);

    &:last-child {
      margin-right: 0;
    }

    &__linkBtn {
      display: block;
      padding: 6px 0;
      background-color: $lightGreen;
      color: $white;
      font-size: .8rem;
      text-align: center;

      &:hover {
        transition: background-color .35s ease;
        background-color: $lightPink;
      }
    }

    &__list {
      margin-bottom: 13px;

      li {
        padding-bottom: 10px;
        border-bottom: 1px dotted $gray;

        &:not(:first-child) {
          margin-top: 20px;
        }

        a {
          &:first-child {
            display: block;
            margin-bottom: 5px;
          }

          time {
            color: $lightPink;
            font-size: .9rem;
          }

          p {
            color: $gray;
            font-size: .85rem;
          }
        }
      }
    }
  }
}

.column {
  &__title {
    margin-bottom: 10px;
  }
}
